
%h1 Users for #{site}

%p
  %ul.unstyled
    - @users.each do |user|
      %li
        %a{ :href => "/sites/#{user[:site_uuid]}/users/#{user[:id]}" }
          #{user[:username]}

.well
  %a{ :class => "btn primary", :href => "/sites/#{uuid}/users/add" } Add User
